@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');

:root {
  --primary-color: #fb7d32;
  --secondary-color: #FCD107;
  --title-font: "BBH Bartle", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 1.3;
  font-weight: 400;
  background-color: #fff;
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

video{
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: min(1170px, 100%);
  padding-inline: 15px;
  margin-inline: auto;
}

.d-flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.align-items-start{
    align-items: flex-start;
}

.gap-30{
    gap: 30px;
}


.img-fluid{
    max-width: 100%;
    height: auto;
}

.img-fit{
    width: 100%;
    height: 100%;
    object-fit: center;
    object-position: center;
}

/* HEADER START */
header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
}

header .top-header {
 margin: 0;
 padding:17px 0;
 background-color: rgba(0, 0, 0, .1);
 position: relative;
 z-index: 2;
}


header .top-header .top-in{
   margin: 0;
   padding: 0;
}

header .top-header .top-in ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:80px;
    padding: 0;
    margin: 0;
}

header .top-header .top-in ul li{
    width: max-content;
}


header .top-header .top-in ul li a{
    display: block;
    font-family: inherit;
    font-size: 16px;
    color: #fff;
    line-height: 1.3;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

header .top-header .top-in ul li:nth-child(2) a{
    text-align: center;
}


header .main-block{
    margin: 0;
    padding:35px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .main-block .logo{
    margin: 0;
    padding: 0;
}

header .main-block .menu{
    margin: 0;
    padding: 0;
}
header .main-block .menu ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
header .main-block .menu ul li a{
    font-family: inherit;
    font-size: 16px;
    color: #fff;
    line-height: 1.3;
    font-weight: 400;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
}

header .main-block .menu ul li.active a,
header .main-block .menu ul li a:hover{
    color: var(--primary-color);
}

/* BANNER START */
.banner-section{
    position: relative;
    padding: 0;
    margin: 0;
}

.banner-section .banner-text{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
}

.banner-section .banner-text h1{
    font-family: var(--title-font);
    font-size: 130px;
    color: var(--primary-color);
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.banner-section .banner-text h1 > span{
    display: block;
    -webkit-text-stroke: 1px #FB7D32;
    --webkit-text-fill-color: transparent;
    color: transparent;
}

.banner-section .banner-text h2{
    font-family: inherit;
    font-size: 18px;
    color: var(--primary-color);
    line-height: 1.3;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0;
    margin: 100px 0 0 0;
}


/* WELCOME SECTION START */
.welcome-section {
  background-color: #fff;
  padding: 80px 0 50px 0;
  margin: 0;
}

.welcome-section .img-block,
.welcome-section .text-block{
    width: 50%;
}

.welcome-section .img-block .top-img{
    position: relative;
    margin: 0 0 20px 0;
}

.welcome-section .img-block .top-img .play-btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    animation: ripple 2s ease-in-out infinite;
}

@keyframes ripple{
    0%{ box-shadow: 0 0 0 0 rgba(255, 255, 255, 1); }
    100%{ box-shadow: 0 0 0 20px rgba(255, 255, 255, 0); }
}



.welcome-section .img-block .top-img .play-btn:active{
    transform: translate(-50%, -50%) scale(0.95);    
}


.welcome-section .img-block .thumbnails-group{
    padding: 0;
    margin: 0; 
}


.welcome-section .img-block .thumbnails-group .d-flex{
    gap: 20px;
}

.welcome-section .img-block .thumbnails-group .thumbnail{
    width: 100%;
    overflow: hidden;
}

.welcome-section .img-block .thumbnails-group .thumbnail img{
    transition: 0.5s;
}

.welcome-section .img-block .thumbnails-group .thumbnail:hover img{
    scale: 1.1;
}
.welcome-section .text-block h2{
  font-size: 17px;
  font-family: "Poppins";
  color: #fb7d32;
  text-transform: capitalize;
  line-height: 1.5;
  font-weight: 700;
  text-align: left;
}
.welcome-section .text-block h3 {
  width: 75%;
  font-size: 54px;
  font-family: "Poppins";
  color: #000;
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 700;
  font-style: italic;
  text-align: left;
  padding: 20px 0 10px 0;
}
.welcome-section .text-block h3 span {
  color:#fb7d32; 
}
.welcome-section .text-block p {
  width: 93%;
  font-size: 16px;
  font-family: "Poppins";
  color: #1a1a1a;
  text-transform: capitalize;
  line-height: 1.5;
  font-weight: 400;
  padding: 40px 0 45px 0;
}
.welcome-section .text-block a {
  font-size: 16px;
  font-family: "Poppins";
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #fb7d32;
  border-radius: 25px;
  padding: 13px 26px;
}
.services-section {
  background-color: #fff;
  padding: 70px 0 80px 0;
  margin: 0;

}
.services-section .service-text h2{
  font-size: 18px;
  font-family: "Poppins";
  color: #fb7d32;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}
.services-section .service-text h3{
  font-size: 50px;
  font-family: "Poppins";
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  padding: 20px 0 50px 0;
}
.services-section .service-text h3 span{
 color:#fb7d32;  
}
.analyze-section {
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 30px;
}
.analyze-in {
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 20px;
 text-align: center;   
}
.analyze-text h2{
 min-height: 52px;   
 font-size: 20px;
 font-family: "Poppins";
 color: #000;
 text-transform: uppercase;
 font-weight: 600;
 text-align: center;
}
.analyze-text p{
 font-size: 16px;
 font-family: "Poppins";
 color: #666666;
 text-transform: capitalize;
 font-weight: 400;
 text-align: center;
 padding: 25px 0 0 0;
}
.membership-section{
 background-color:#1D1919;
 padding: 50px 0; 
 position: relative;  
}
.membership-text{
 text-align: center;    
}
.membership-text h2{
 font-size: 18px;
 font-family: "Poppins";
 color: #fb7d32;
 text-transform: uppercase;
 font-weight: 600;
}
.membership-text h3{
 font-size: 40px;
 font-family: "Poppins";
 font-style: italic;
 color: #fff;
 text-transform: uppercase;
 font-weight: 700;
 padding:30px 0 ;
}
.membership-text h3 span {
 color: #fb7d32;   
}
.membership-text p{
 font-size: 16px;
 font-family: "Poppins";
 color: #666666;
 text-transform: capitalize;
 font-weight: 400;
 padding: 0 0 55px 0;
}
.membership-block {
 display: flex;
 align-items: center;
 gap: 0;   
}
.membership-image {
 width:100%; 
}
.slick-next.slick-arrow {
 position: absolute;
 top: 40%;
 right: -5%;
}
.slick-prev.slick-arrow {
 position: absolute;
 bottom: 52%; 
 left: -7%;

}
.slick-dots{
display: flex;
justify-content: center;
gap: 20px;  
}


.pricing-section {
 background-color: #fff;
 padding: 20px 0 50px 0; 
}
.pricing-text {
 text-align: center; 
}
.pricing-text h2{
 font-size: 18px;
 font-family: "Poppins";
 color: #fb7d32;
 text-transform: uppercase;
 font-weight: 600; 
}
.pricing-text h3{
 font-size: 50px;
 font-family: "Poppins";
 font-style: italic;
 color: #000;
 text-transform: uppercase;
 font-weight: 700;
 padding:25px 0 50px 0; 
}
.plans{
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap:30px; 
}
.plans-in{
 width:100%;
 height: auto;
 background-color:#fff;
 text-align: center;
 padding: 30px 0;
 box-shadow: 0.697px 7.97px 27px 0px rgba(6, 6, 6, 0.17);
}


.plans-in h2{
 font-size: 15px;
 font-family: "Poppins";
 color: #000;
 text-transform: uppercase;
 font-weight: 400; 
 
}
.plans-in h3{
 font-size: 50px;
 font-family: "Poppins";
 /*color: #000;*/
 text-transform: uppercase;
 font-weight: 500; 
 
}
.plans-in h3 sup{
 font-size: 25px; 
 font-weight: 500;
 font-family: "Poppins"; 
}
.plans-in h4{
 font-size: 15px;
 font-family: "Poppins";
 color: #666666;
 text-transform: uppercase;
 font-weight: 400;
 padding: 0 0 12px 0; 
}
.plans-in a {
 font-size: 16px;
 font-family: "Poppins";
 color: #fff;
 background-color: #F89840;
 background-image: linear-gradient(4deg,#fa7a30,#f3d45e);
 border-radius: 50px;
 padding: 18px 36px; 
 text-transform: uppercase;
 font-weight: 400;  
}
.plans-in h5 {
 font-size: 16px;
 font-family: "Poppins";
 color: #000;
 text-transform: uppercase;
 font-weight: 600;
 padding: 16px 0px 4px 0px; 

}
.plans-features{
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap:30px; 
}
.plans-text{
 width: 100%;
 text-align: center; 
}
.plans-text h2{
 font-size: 18px;
 font-family: "Poppins";
 color: #000;
 text-transform: uppercase;
 font-weight: 600;
 padding: 20px 0;  
}
.plans-text h3{
 font-size: 16px;
 font-family: "Poppins";
 color: #666666;
 line-height: 1.6;
 text-transform: capitalize;
 font-weight: 400;
 text-align: left;
 padding: 0 12px 0 30px;
}
.plans-text li{
 font-size: 13px;
 font-family: "Poppins";
 color: #4d4d4d;
 line-height: 2.7;
 text-transform: capitalize;
 font-weight: 400;
 


}
.testimoni{
 background-color: #fff;
 padding: 30px 0 50px 0; 
}
.story{
 width: 100%;
 display:inline-flex; 
 justify-content: space-between;
 align-items: center;
 gap:30px;  
}
.story-img{
 max-width:100%;
 padding: 0px;
 display: flex;
 align-items: center;
 gap: 15px;
}

.story-img .author-img{
  margin: 0;
  padding: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.story-img .author-img:after{
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: url(../images/quote.png) no-repeat center;
  right: 10px;
  bottom: -10px;
}
.story-img .author-img img{
  width: 100%;
  height: auto;
}
.story-img .author-text{
  margin: 0;
  padding: 0;
}
.author-text h3{
 font-size: 18px;
 font-family: "Poppins";
 color: #212529;
 text-transform: capitalize;
 font-weight: 600;  
}
.author-text h5{
 font-size: 15px;
 font-family: "Poppins";
 color: #c4b8b8;
 text-transform: capitalize;
 font-weight: 400;
}

.story-text{
  margin: 0;
  padding: 0;
}

.story-text p{
 font-size: 16px;
 font-family: "Poppins";
 color: #212529;
 text-transform: capitalize;
 font-weight: 400; 
  
}

.story .box .story-text{
  margin: 0;
  padding: 51px 0 67px 22px;
  position: relative;
}

.story .box .story-text:before{
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background: #E6E6E6;
  left: 0;
  top: 0;
}

.story .box .story-text:after{
  content: "";
  position: absolute;
  width: 5px;
  height: 35px;
  background: #F3A86D;
  left: -2px;
  top: 37%;
}
.story .box .story-img{
  margin-top:-15px;
}
.calculate{
 background-color: #FFFFFF;
 padding: 25px 0 50px 0;   
}
.calculator-in{
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 30px;     
}
.calculator-img{
 width:50%; 
 height: auto;  
}
.calculator-section{
 width:50%;   
}
.calculator-text h2{
 font-size: 30px;
 font-family: "Poppins";
 font-style: italic;
 color: #000;
 text-transform: capitalize;
 font-weight: 700;
 text-align: left;
}
.calculate-form{
  width: 100%;
  display: flex;
  align-items: center;
  background-color:#fff;
  padding: 20px 0 60px 0;
}
.calculate-box1{
 width: 50% 
}
.calculate-box2{
 width: 50% 
}
.calculate-form .input-group input {
  height: 50px;
  padding-left: 6px;
}
.input-group label {
  display: block;
  color: #000;
  margin: 0 0 12px 0;
  font-weight: 600;
  font-family: poppins;
}
.input-group input::placeholder {
  font-size: 15px;
  font-family: "Poppins";
  color: #010101;
  font-weight: 400;
}
.calculate-form.input-group .form-control {
  width: 65%;
  display: block;
  border: none;
  border-bottom: 2px solid #666666;
  outline: none;
  padding: 10px 0;
  margin: 0;
  transition: 0.3s;
}
.calculate-form .input-group .form-control:focus {
  border-color: #000;
}
.calculate-form .input-group .form-btn{
  display: block;
  width: 65%;
  font-family: poppins;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #FD5F00;
  border: none;
  border-radius: 50px;
  padding: 15px 30px;
  margin: 0;
  cursor: pointer;
}
.calculate-form .input-group .form-btn2{
  display: block;
  width: 65%;
  font-family: poppins;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #FCD107;
  border: none;
  border-radius: 50px;
  padding: 15px 30px;
  margin: 0;
  cursor: pointer;
}



.article{
 background-color: #fff;
 padding: 0 0 80px 0;  
}
.recent{
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap:30px;  
}
.recent-in{
 width: 100%;
 height: auto;
 background-color: #fff;
 box-shadow: 0.174px 1.992px 9px 0px rgba(6, 6, 6, 0.17);
}
.recent-text h2{
 font-size: 14px;
 font-family: "Poppins";
 color: #666666;
 text-transform: uppercase;
 font-weight: 600;
 padding: 20px 0px 0 15px;

}
.recent-text h3{
 width: 62%;
 font-size: 18px;
 font-family: "Poppins";
 font-style: italic;
 color: #000;
 text-transform: uppercase;
 font-weight: 600;
 padding: 15px 0px 15px 15px;

}
.recent-text h4{
 font-size: 15px;
 font-family: "Poppins";
 color: #666666;
 text-transform: capitalize;
 font-weight: 400;
 padding: 0 0 40px 15px;

}
.multiple{
 background-color: #C9712F;
 padding: 80px 0;

}
.number{
 display: flex;
 justify-content: space-between;
 align-items: center;
 text-align: center; 
 gap:30px;

}
.number-in{
 width: 100%;
}
.number-in h2{
 font-size: 50px;
 font-family: "Poppins";
 color: #fff;
 text-transform: uppercase;
 font-weight: 500; 

}
.number-in h3{
 font-size: 16px;
 font-family: "Poppins";
 color: #fff;
 text-transform: capitalize;
 font-weight: 500; 

}
.footer{
 background-color: #1A1717;
 padding: 80px 0 50px 0; 
}
.footer-in{
 width: 100%; 
}
.footer-in h2{
 font-size: 18px;
 font-family: "Poppins";
 font-style: italic;
 color: #fff;
 text-transform: uppercase;
 font-weight: 600; 
 padding: 0 0 25px 0; 
}
.footer-in h3{
 font-size: 16px;
 font-family: "Poppins";
 color: #fff;
 text-transform: capitalize;
 font-weight: 400; 
 line-height: 1.7;
 padding: 0 0 20px 0; 
}

.even-in{
 display: inline-flex;
 gap:20px;
 padding: 0 0 15px 0; 
}
.even-img{
 width: 60%;   
}
.even-icon i{
 font-size: 30px;
 color: #fff;   

}
.even-text p{
 font-size: 15px;
 font-family: "Poppins";
 color: rgb(255, 255, 255);
 line-height: 1.5;
 text-align: left;
}
   
.icon-block{
 display: flex;
 /*justify-content: center;*/
 align-items: center;
 gap: 12px; 
}
.sentence-block li{
 padding: 0 0 23px 0;
 margin: 0;
 list-style: none;
 color: #fff;
 font-size: 16px;
 font-weight: 400; 
}
.icon-block li {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #fff;
}
.icon-block i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #575151;
  color: #fff;
  font-size: 20px;
}
.last-text{
 text-align: center; 
}
.last-text h5{
 font-size: 16px;
 font-family: "Poppins";
 color: #fff;
 text-transform: capitalize;
 font-weight: 300;
 padding: 50px 0 1px 0;  

}

.slick-dots li button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ccc;
}

.slick-dots li.slick-active button {
  background: #000;
}

.slick-dots li button:before {
  display: none;
}
